span {
  display: block;
}

.form-group {
  margin: 10px auto;
  position: relative;
  width: 95%;
}

.field-label {
  font-family: Lato, sans-serif;
  float: left;
  top: 0;
  width: 20%;
}

.half-col {
  display: inline-block;
  width: 40%;
  height: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
}

legend {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 20px;
}

input[type='text'], input[type='email'], textarea, select {
  width: 70%;
  border-radius: 15px;
  padding: 10px;
}

fieldset {
  float: left;
  margin: 10px;
  width: 45%;
}
